html {
  background-image: url("../Photos/Paisley-2.jpg");
  padding: 45px;
}

body {
  background-color: #C0C0C0;
  max-width: 85%;
  margin: 125px auto 0px auto;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

img {
  width: 70%;
  margin: 0px 10px 20px 0px;
}

div {
  display: inline-block;
  width: 20%;
  min-width: 300px;
  min-height: 300px;
  vertical-align: text-top;
  padding-top: 40px;
}

h1 {
  padding: 25px;
  margin-bottom: 15px;
  font-size: 4em;
} 